/*imposto lo stile dell'header - non ha bisogno di essere richiamato con il punto . o il cancelletto #*/
header {
    background-color: #4ea0ff;
    /* il colore l'ho ottenuto analizzando l'immagine con un'estensione di Chrome ColorZilla */
    background-image: url(../img/pattern.png);
    /*si usa url per inserire il percorso dell'immagine*/
    background-size: 29%;
    /*di default, se non viene specificato, l'immagine si ripete e specificando la percentuale aumentiamo o riduciamo la dimensione*/
}

/* per impostare lo stile dell'ID logo ho dovuto richiamare lo stesso usando il cancelletto prima del nome #*/
#logo {
    width: 200px;
    /*specificando solo la larghezza automanticamente si ridimensiona anche l'altezza*/
    padding-top: 40px;
    /*distanza dall'alto misurata con PixelRuler di PowerToys Windows*/
    padding-left: 8px;
    /*distanza da sinistra*/
}

h1 {
    margin-bottom: 0px;
    /*sto togliendo lo spazio sotto*/
    line-height: 1.0;
    /*interlinea andando a capo*/

}

.info-autore {
    margin-top: 2px;
    /*sto gestendo lo spazio sopra con h1*/
    color: rgb(139, 139, 139);
    font-weight: bold;
    /*grassetto*/
    font-size: 14px;
    line-height: 0.9;
    /*interlinea con info-autore-data*/
}

.info-autore-data {
    font-weight: normal;
    /*rimozione grassetto ereditato da info-autore*/
    font-size: 10px;
}

#immagini img {
    /*se non aggiungessi IMG starei impostando l’height sul contenitore #immagini, non sulle immagini vere e proprie. Questo non modifica l’altezza delle immagini, ma solo quella del div che le contiene*/
    height: 220px;
    /*imposto l'altezza delle immagini e automaticamente si adatterà la larghezza*/
}

#didascalia-immagini {
    font-size: 10px;
}